name: hello

# 触发条件
on:
    push:
        branches:
        - master
    pull_request:
        branches:
        - master


jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.0.0

      - name: Set up Python
        uses: actions/setup-python@v5.0.0
        with:
          python-version: '3.11'

      - name: run python script
        run: python hello.py

